@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/space.jpeg");
  background-size: auto;
  height: 100vh;
  overflow: scroll;
}
